@import "../styles/mixins";
@import "../styles/variables";

.slider-giftset {
  width: 1074px;
  height: 802px;
  background-color: #edf0f5;
  position: relative;
  @include mobile {
    width: 100%;
    height: 400px;
  }
}

.second-slider-title {
  position: absolute;
  top: 13%;
  left: 63%;
  transform: translate(-50%, -50%);
  @include mobile {
    width: 100%;
    top: 12%;
    left: 50%;
  }
  &__top {
    width: 224px;
    height: 24px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #415167;
    @include mobile {
      width: 100%;
      text-align: center;

    }
  }
  &__bot {
    height: 32px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #415167;
    text-align: center;
    @include mobile {
      font-size: 20px;
    }
  }
}

.second-slideshow {
  @include mobile {
    width: 100%;
    height: 300px;
  }
  &__slides {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    width: 1138px;
    height: 460px;
    @include mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
    }
  }
  &__icon {
    display: none;
    width: 598px;
    height: 409px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-123.5%, -83.5%);
    @include mobile {
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }
  img {
    width: 100%;
  }
  &__components {
    display: flex;
    justify-content: flex-end;
    width: 882px;
    height: 460px;
    background-color: #ffffff;
    box-shadow: 1px 0 10px 0 rgba(205, 205, 205, 0.5);
    @include mobile {
      display: none;
    }
  }
  &__descriptions {
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
  }
  &__price {
    width: 430px;
    height: 20px;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #c7a17a;
  }
  &__name {
    width: 430px;
    height: 30px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #232c38;
  }
  &__info {
    width: 430px;
    height: 110px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #151d28;
  }
  &__about {
    display: flex;
    justify-content: space-between;
    width: 430px;

  }
  &__taste {

  }
  &__taste-icon {

  }
  &__text {
    height: 40px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #415167;
  }
  &__size {

  }
  &__size-icon {

  }
  &__actions {
    width: 430px;
    display: flex;
    justify-content: space-between;

  }
  &__byu {
    width: 166px;
    height: 37.8px;
    border-radius: 19px;
    background-color: #c7a17a;
    border: none;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f9fbff;
    cursor: pointer;
  }
  &__detail {
    width: 80px;
    height: 22px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #415167;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
  }
  &__line {
    width: 3px;
    height: 100%;
    border: solid 1px #edf0f5;
  }
  &__controles {
    display: flex;
    flex-direction: column;
    width: 88px;

  }
  &__item {
    width: 88px;
    height: 154px;
    border: none;
    cursor: pointer;
    text-align: center;
    opacity: 0.5;
    background-color: #edf0f5;
  }
  &__item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #415167;
    height: 100%;
  }
  &__prev {
    display: none;
    @include mobile {
      display: flex;
      border-radius: 50%;
      border: none;
      z-index: 2;
      width: 50px;
      height: 50px;
      background: rgba(0,0,0,0.5);
    }
  }
  &__next {
    display: none;
    @include mobile {
      display: flex;
      border-radius: 50%;
      border: none;
      z-index: 2;
      width: 50px;
      height: 50px;
      right: 0;
      position: absolute;
      background: rgba(0,0,0,0.5);
    }
  }

}

.second-slideshow__icon.active {
  display: block;
}

.second-slideshow__item.active {
  background-color: #ffffff;
}

#slide-2 {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-128.5%, -95.5%);
  @include mobile {
    width: 100%;
    transform: translate(-48%, -50%);
  }
}

#slide-3 {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-128.5%, -95.5%);
  @include mobile {
    width: 100%;
    transform: translate(-48%, -50%);
  }
}

.fas {
  width: 100%;
  //color: #ffffff;
}

